@import "vars.css";

.tag-button {
  display: flex;
  align-items: center;

  background-color: var(--bg-2);
  color: white;
  border: 1px dashed var(--border-1);
  padding: 0px 8px;

  border-radius: 4px;
  line-height: 1;
}

.tag-icon {
  display: flex;
  margin-right: 8px;
  width: 20px;
  height: 20px;
  color: white;
}

.tag-name {
  line-height: 0.3;
  font-size: 14px;
  font-weight: 500;
}

.tag-list {
  display: flex;
  gap: 10px;
}

.tag-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.entry-button {
  /* border: 1px solid var(--border-2); */
  background-color: var(--bg-2);
  border-radius: 4px;
  padding: 0px 8px;
  color: var(--text-1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.entry-button:hover {
  background-color: var(--bg-4);
}

.entry-button-cont {
  display: flex;
  max-width: 1400px;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  flex-grow: 1;
}
