@import "vars.css";

@font-face {
  font-family: 'ibmvga8';
  src:
    url('/css/font/PxPlus_IBM_VGA8.woff') format('woff'),
    url('/css/font/PxPlus_IBM_VGA8.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'pc98';
  src: 
    url('/css/font/PC_9800.woff2') format('woff2'),
    url('/css/font/PC_9800.woff') format('woff'),
    url('/css/font/pc-9800.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "textar";
  src:
    url("/css/font/textar-light.woff2") format("woff2"),
    url("/css/font/textar-light.woff") format("woff"),
    url("/css/font/textar-light.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}
