@import "vars.css";

@font-face {
  font-family: 'pxplus_ibm_vga8regular';
  src:
    url('/css/font/PxPlus_IBM_VGA8.woff') format('woff'),
    url('/css/font/PxPlus_IBM_VGA8.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'pc98';
  src: 
    url('/css/font/PC_9800.woff2') format('woff2'),
    url('/css/font/PC_9800.woff') format('woff'),
    url('/css/font/pc-9800.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Textar";
  src:
    url("/css/font/textar-light.woff2") format("woff2"),
    url("/css/font/textar-light.woff") format("woff"),
    url("/css/font/textar-light.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}

body {
  line-height: 1.3;
  font-family: "pxplus_ibm_vga8regular";
}

pre, .kana, .blog > h1,h2,h3,h4,h5, small {
  font-family: 'pc98';
  text-align: start;
}

h1, h2, h3, h4, h5 {
	line-height: 1;
}

.code-block pre {
	font-family: 'pxplus_ibm_vga8regular';
}

b {
  font-weight: normal !important;
  text-shadow: 2px 2px var(--text-2);
}

.aa pre, textarea {
  font-size: 1em;
  line-height: 1.1;
  font-family: 'ＭＳ Ｐゴシック','MS PGothic','梅Pゴシック',Textar,sans-serif;
  white-space: pre;
  word-wrap: normal;
}

.aa span {
  font-size: 1em;
  font-family: monospace;
  white-space: pre;
}

.aa pre {
  background-color: var(--bg-2);
  border-radius: 4px;
}
