@import "faces.css";
@import "buttons.css";
@import "navbar.css";
@import "layout.css";

html {
  overflow-x: hidden;
}

body {
  color: var(--text-3);
  background-color: var(--bg-1);
  margin: 0;
  padding: 0;
  background-image: url('/css/grid.png');
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  line-height: 1.3;
  font-family: "ibmvga8";
}

b {
  font-weight: normal !important;
  text-shadow: 2px 2px var(--text-2);
}

a {
  text-decoration: none;
  color: var(--link-1);
}

h1, h2, h3, h4, h5 {
	line-height: 1;
  text-align: start;
}

code {
  color: var(--text-1);
  font-family: "ibmvga8";
}

.tex-image-inline {
  vertical-align: middle;
  height: 30px;
  width: auto;
}

.tex-image-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tex-image-block {
  height: 100px;
  max-width: 350px;
  display: block;
  margin: 10px 0;
  border-radius: 4px;

  background-color: var(--bg-2);
}

.code-block {
  display: flex;
  flex-direction: column;
  overflow: auto;
  /* min-width: 100ch; */
  /* width: 100%; */
}

.img-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-cont video {
  max-width: 720px;
  width: 100%;
}

.welcome-card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.aa pre {
  font-size: 1em;
  line-height: 1.1;
  font-family: 'ＭＳ Ｐゴシック','MS PGothic','梅Pゴシック',"textar",sans-serif;
  white-space: pre;
  word-wrap: normal;
  background-color: var(--bg-2);
  border-radius: 4px;
}

.aa span {
  font-size: 1em;
  font-family: monospace;
  white-space: pre;
}

.welcome-aa {

}

.welcome-text {

}

.proj-desc {
  padding: 0 8px;
  padding-bottom: 8px;
}

.proj-title-cont {
  display: flex;
  width: 100%;
}

.proj-title-cont h2 {
  flex-grow: 1;
}

.proj-title-cont a {
  white-space: nowrap;
  padding: 10px;
}

.proj-logo-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.proj-logo {
  max-width: 400px;
  height: auto;
}

.blog-search input {
  height: 2em;
  width: 100%;
  padding-top: 5px;
  border: 0px;
  background-color: var(--bg-2);
}

@media screen and (max-width: 768px) {
  .welcome-card {
    flex-direction: column;
  }
  .welcome-aa {
    order: 2;
  }
  .welcome-text {
    order: 1;
  }
}
