@import "faces.css";
@import "proj.css";
@import "nav.css";

html {
  overflow-x: hidden;
}

body {
  color: var(--text-3);
  background-color: var(--bg-1);
  margin: 0;
  padding: 0;
  background-image: url('/css/grid.png');
  box-sizing: border-box;
  
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-layout {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  flex-grow: 1;
}

.sidebar {
  width: 300px;
  padding: 20px;
  padding-top: 60px;
  padding-left: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  padding-top: 60px;
  padding-left: 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 800px;
  max-width: 1000px;
}

.card {
  background-color: var(--bg-1);
  border: 1px solid var(--border-2);
  border-radius: 4px;
  padding: 15px;
  margin-botton: 20px;
}

.card h2 {
  font-size: 1.2em;
  border-bottom: 2px solid var(--border-3);
  padding-bottom: 5px;
  margin-bottom: 10px;
  color: var(--text-1);
}

.card a {
  text-decoration: none;
  color: var(--link-1);
}

.card-links ul {
  list-style: none;
  padding: 0;
}

.card-links a {
  text-decoration: none;
  color: var(--link-1);
  display: block;
  padding: 5px 0;
}

.card-image img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px 0;
  border-radius: 4px;
}

.card-image p {
  text-align: center;
}

.entry-button-cont {
  display: flex;
  max-width: 1400px;
  flex-direction: column;
  gap: 10px;
  margin: 0 auto;
  flex-grow: 1;
}

.entry-button {
  border: 1px solid (--border-2);
  background-color: var(--bg-2);
  border-radius: 4px;
  padding: 0px 8px;
  color: var(--text-1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.entry-button:hover {
  background-color: var(--bg-4);
}

.tex-image-inline {
  vertical-align: middle;
  height: 30px;
  width: auto;
}

.tex-image-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tex-image-block {
  height: 100px;
  max-width: 350px;
  display: block;
  margin: 10px 0;
  border-radius: 4px;

  background-color: var(--bg-2);
}

.code-block {
  display: flex;
  flex-direction: column;
}

.blog-entry-content pre {
  background-color: var(--bg-2);
  padding: 20px;
  border-radius: 4px;
  overflow: auto;
}

.img-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-card {
  display: flex;
  align-items: center;
  gap: 20px;
}

.welcome-aa {

}

.welcome-text {

}

#random-image {
  max-height: 200px;
  width: auto;
}

@media screen and (max-width: 768px) {
  .main-layout {
    flex-direction: column;
  }
  .sidebar {
    width: 94%;
    order: 2;
    border-top: 1px solid var(--border-3);
  }
  .main-content {
    max-width: 90vw;
    min-width: 90vw;
    width: 90vw;
    order: 1;
  }
  .welcome-card {
    flex-direction: column;
  }
  .welcome-aa {
    order: 2;
  }
  .welcome-text {
    order: 1;
  }
}
