<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="dark">
    <title> <%= title %> - nesktf's website </title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="/css/style.css">
    <script type="importmap">
      {
        "imports": {
          "./modules/mustache.js": "/js/modules/mustache.js",
          "./modules/api.js": "/js/modules/api.js",
          "main": "/js/main.js"
        }
      }
    </script>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <div class="navbar-logo">
          <a href="/">nesktf</a>
        </div>
        <ul class="navbar-links">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/pages">Pages</a></li>
        </ul>
      </nav>
    </header>

    <div class="main-layout">
      <main class="main-content">
        <%- content %>
      </main>

      <% if (disable_sidebar) then %>
      <% else %>
        <aside class="sidebar">
          <div class="sidebar-card sidebar-links">
            <h2>Website changelog</h2>
            <% if (versions and type(versions) == "table") then %>
              <ul>
                <% for _, detail in pairs(versions) do %>
                  <li>
                    <a href="/meta#<%= detail.ver %>"><%= detail.date %>: <%= detail.title %></a>
                  </li>
                <% end %>
              </ul>
            <% else %>
              <p>None :c</p>
            <% end %>
          </div>

          <div class="sidebar-card">
            <h2>Random image</h2>
            <div class="img-cont">
              <img id="random-image" class="sidebar-image" src="/image/funnies/kyouko_pc.png" alt="random image" />
              <p class="img-caption">
                <i id="random-image-caption">Kyouko browsing the <a href="/blog">blog</a></i>
              </p>
            </div>
          </div>
        </aside>
      <% end %>
    </div>

    <footer class="main-footer">
      <p><a href="https://github.com/nesktf/website">Source Code</a></p>
      <p> Compiled at <%= comp_date %> </p>
    </footer>
  </body>
  <script type="module">import main from "main"; main("<%= page_name %>");</script>
</html>
